.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 55px;

  border-radius: 90px;
  border: 2px solid var(--inverse-color);

  padding: 10px;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  filter: brightness(70%);
}

.icon svg {
  height: 35px;
  width: 35px;

  fill: var(--inverse-color);
  transition: all 0.1s ease;
}
