.textarea {
  resize: none;

  font-family: inherit;
  font-size: var(--base-font-size);

  width: var(--base-width);
  height: 280px;
  padding: 10px 15px;

  border-radius: 15px;
  border: 2px solid var(--border-color);

  color: var(--inverse-color);
  background-color: var(--back-color);
}

.textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}
