html {
  transition: none;
}

[data-theme] {
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: #eef0f3;
  --back-color: #fff;
  --main-color: #ffffff;
  --inverse-color: #000000;
  --border-color: #cccccc;
  --primary-color: #c1e8ff;
}

html[data-theme="dark"] {
  --background-color: #262427;
  --back-color: #333033;
  --main-color: #000000;
  --inverse-color: #ffffff;
  --border-color: #9e9e9e;
  --primary-color: #7da0ca;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background-color);
}
