.input {
  color: var(--inverse-color);

  width: 400px;

  padding: 10px 15px;

  border-radius: 15px;
  border: 2px solid var(--border-color);

  background-color: var(--back-color);
  font-size: 18px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}
