.body {
  width: 850px;
  padding: 0px 0px 50px 0px;

  background-color: rgb(255, 230, 230);
}

.top-block {
  padding: 30px 100px;
  margin-bottom: 20px;

  background-color: rgb(231, 231, 231);

  display: grid;
  grid-template-areas:
    ". picture"
    "name picture"
    "surname picture"
    ". picture";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 52px 52px auto;
}

.picture {
  grid-area: picture;
  justify-self: end;
}
.name {
  grid-area: name;
  font-weight: 300;
}
.surname {
  grid-area: surname;
  font-weight: 700;
}

.name,
.surname {
  justify-self: start;
  font-size: 48px;
}

.content {
  padding: 0px 100px;
  h1 {
    margin: 30px 0px 10px 0px;
  }

  display: flex;
  flex-direction: column;
}

.contacts,
.education,
.experience,
.urls,
.projects {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skills,
.ahcivments,
.personal-qualities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
